*{
	padding: 0;
    margin:0;
}
:root{
--bg-color:#222;
--b-l-text:#62C9F7;
--b-m-text:#1E8CC1;
--b-h-text:#16528D;
--g-l-text:#666;
--g-m-text:#444;
--g-h-text:#333;
--w-color:#fff;
}
body{
	background-color:var(--bg-color);
}
      /*Header section*/
.head{
	grid-area: 1/1;
padding:10px;
overflow: hidden;
height: 20%;
}
.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.web-logo{
	widht:50px;
	height:50px;
}

.btn-box{
	padding:7px 15px;
	border-radius:5px;
	display: flex;
	gap:30px;
	background-color: var(--g-m-text);
}
.btn-n{
	font-family: arial;
	text-decoration: none;
color: var(--b-l-text);
}
       /*main cont*/
.main-cont{
			grid-area: 2/1;
	width:300px;
	height:500px;
	padding:10px;
	background-color: var(--g-m-text);
	margin:10% auto;
	border-radius: 10px;
	display: grid;
	grid-template-columns:10% 80% 10%;
	grid-template-rows:2% 10% 10% 10% 10% 10% 10% 10% 10%;
	gap:10px;
	justify-content: center;
	align-items: center;
}
.main-h{
	font-family: arial;
	weight:800;
	color:#000;
	grid-area:2/2;
	color: var(--w-color);
}

.box{
	text-decoration: none;
	font-family: arial;
	color:;
	padding:10px;
	align-items: center;
	background-color: var(--b-h-text);
	color: var(--w-color);
	width:200px;
	border-radius: 5px;
}
.box1{
	grid-area: 3/2;
}.box2{
	grid-area: 4/2;
}.box3{
	grid-area: 5/2;
}.box4{
	grid-area: 6/2;
}.box5{
	grid-area: 7/2;
}.box6{
	grid-area: 8/2;
}.box7{
	grid-area: 9/2;
}

      /*footer section*/

.ft{
	font-size: 0.8rem;
		grid-area: 3/1;
	height:80px;
	width:90%;
margin:0px 5%;
	background-color: var(--b-h-text);
	color: var(--w-color);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	top:100px;
}     
.channel{
	color: var(--w-color);
padding:3px 5px;
border:2px solid #fff;
border-radius: 2px;
	text-decoration: none;
} 